nav {
  position: sticky;
  width: 1920px;
  background: linear-gradient(#0b042d 100%, #0b042d 20%);
  padding-left: 140px;
  padding-right: 140px;
  padding-bottom: 24px;
  padding-top: 24px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

img {
  width: 90px;
  height: 40px;
}
.navbarText {
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;

  a {
    font-size: 20px;
    color: #e15544;
    text-decoration: none;
    cursor: pointer;
  }
}
.toggle_switch {
  display: flex;
  align-items: center;

  button {
    background-color: transparent;
    border: none;
    color: #e15544;
    font-size: 18px;
    cursor: pointer;
  }

  .vertical-line {
    font-size: 16px;
    color: #e15544;
  }
}
