<section>
    <div class="whyMeWrapper">
        <div class="whyMe">
            <img src="/Why_me_placeholder.svg" alt="">
        </div>
        <div class="WhyMeDescription">
            <h2>Why me</h2>
            <p>I am motivated to continuously learn new technologies and develop <br> myself. My ability to solve
                complex
                problems and my passion for <br> programming make me a valuable member of your team.</p>
        </div>
        <div>
            <h3>I am</h3>
            <div>
                <img src="/AboutMeIcons/locationIcon.svg" alt="">
                <p>located in Weißenburg</p>
            </div>
            <div>
                <img src="/arrows/ArrowDown.svg" alt="">
            </div>
            <div>
                <img src="/AboutMeIcons/computerIcon.svg" alt="computerIcon">
                <p>open to work remote</p>
            </div>
            <div>
                <img src="/arrows/ArrowUp.svg" alt="">
            </div>
            <div>
                <img src="/AboutMeIcons/travelsuitcase.svg" alt="">
                <p>comfortable to drive to work</p>
            </div>
            <div>
                <img src="/arrows/Arrow.svg" alt="">
            </div>
            <div class="letsTalkButton">
                <button>
                    Let´s talk
                </button>
            </div>
        </div>
    </div>

</section>