<section>
    <div class="SkillsWrapper">
        <div class="showMySkills">
            <div class="skillsIntroduction">
                <h3>My Skills</h3>
            </div>
            <div class="Skills">
                <div class="Skillstext">
                    <img src="skills/linux.svg" alt="">
                    <p>Linux</p>
                </div>
                <div class="Skillstext">
                    <img src="skills/HTML5.svg" alt="">
                    <p>HTML 5</p>
                </div>

                <div class="Skillstext">
                    <img src="skills/CSS3.svg" alt="">
                    <p>CSS3</p>
                </div>

                <div class="Skillstext">
                    <img src="skills/Typescript.svg" alt="">
                    <p>TypeScript</p>
                </div>

                <div class="Skillstext">
                    <img src="skills/RestAPI.svg" alt="">
                    <p>RestAPI</p>
                </div>
                <div class="Skillstext">
                    <img src="skills/scrum.svg" alt="">
                    <p>Scrum</p>
                </div>
                <div class="Skillstext">
                    <img src="skills/Firebase.svg" alt="">
                    <p>Firebase</p>
                </div>
                <div class="Skillstext">
                    <img src="skills/git.svg" alt="">
                    <p>Git</p>
                </div>


                <div class="Skillstext">
                    <img src="skills/Angular.svg" alt="">
                    <p>Angular</p>
                </div>
                <div class="Skillstext ChallengeMe">
                    <img src="skills/ChallengeMe.svg" alt="">
                    <p>Challenge <br>
                        me</p>
                </div>
                <div class="ChallengeMeText">
                    <p>I am always happy to <br>learn new technologies, <br> just tell me what you need.</p>
                </div>
            </div>
        </div>
    </div>
</section>