<footer>
    <div class="footerWrapper">
        <div class="footerContent">
            <div class="leftFooter">
                <img src="/DWLogo.svg" alt="">
                <p>frontend developer</p>
            </div>
            <div class="midFooter">
                <h2>© David Werner 2024</h2>
                <div class="legalBlock">
                    <a href="">Legal notice</a>
                    <a href="">privacy policy</a>
                </div>
            </div>
            <div class="socials">
                <img src="/socials/github.svg" alt="">
                <img src="/socials/mail.svg" alt="">
                <img src="/socials/linkedIn.svg" alt="">
            </div>
        </div>
    </div>
</footer>